body {
    margin: 0;
    font-family: helvetica;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    height: 100vh;
}

#logo {
    height: 90px;
    width: 90px;

}