body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#image {
    margin: 10px;
    border-radius: 50%;
    height: 100px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}